@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
.main {
    position: relative;
    padding: 25px 0;
}

img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.titleE {
  
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  word-wrap: break-word;
  text-align: center;
  border-top: 2px solid rgb(157, 196, 93);
  border-bottom: 2px solid rgb(157, 196, 93);
  margin-bottom: 30px;
}
.titleA {
    position: relative;
    margin-top: 700px;
    
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    word-wrap: break-word;
    text-align: center;
    margin-bottom: 30px;
  }
  .contentParticipate{
  
    display: flex;
    justify-content: right;
    align-items: right;
    height: 100vh; 

}

.buttonsUp{

}

.buttonsDown{
  
}
.participateTitle
  {

  }
.avisTitle{
    position: flex;
    left: 10px;
  }
.contentAvis{
  
}

h1{
color: rgb(157, 196, 93);
}
h3{
color: rgb(211, 185, 35);
margin-left: 0px;
}
.col-4 {
  width: 30%;
  float: left;
  padding: 30px 70px;
}

.col-8 {
  width: 66%;
  float: right;
}

.col-4 h1 {
  font-size: 40px;
  border-bottom: 3px solid rgb(157, 196, 93);
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-family: Playfair;
}

.col-4 p {
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  opacity: 0.8;
}

.col-4 a {
  display: inline-block;
  padding: 12px 35px;
  background-color: rgb(157, 196, 93);
  color: #fff;
  border-radius: 50px;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 40px;
}

.glide__arrows {
  position: absolute;
  bottom: -30px;
}

.glide__arrows .glide__arrow {
  background: rgb(157, 196, 93);
  border: none;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border-radius: 50%;
  color: #fff;
  font-size: 22px;
  outline: none;
  margin-right: 15px;
  padding: 0;
}

.glide__arrows .glide__arrow glide__arrow--left {
  left: 0;
}

.glide__arrows .glide__arrow glide__arrow--right {
  right: 0;
}

.glide__slide {
  transform: scale(0.9);
  filter: brightness(50%);
  transition: all ease 0.5s;
}

.glide__slide.glide__slide--active {
  transform: scale(1);
  filter: brightness(100%);
}





.thermo {
  
  border-radius: 55px;
  background: rgb(149, 39, 39);
  box-shadow: inset 16px 16px 32px #891d1d;
  height: 50pv;
  width: 6vw;
  position: flex;
  overflow: hidden;
  
}

.buttonUpDown{
  }

.triangleUp {
  position: flex;
  width: 0;
  top: 1100px;
height: 0;
border-style: solid;
border-width: 0 41px 71.0px 41px;
border-color: transparent transparent #22e650 transparent;
float: left;

}

.triangleDown {
  position: flex;
  top:90px;
  width: 0;
height: 0;
border-style: solid;
border-width: 71.0px 41px 0 41px;
border-color: #c7204a transparent transparent transparent;
float: right;


}

.tempNum{
  border: hidden;
  background: rgb(248, 243, 243);

}
.number{
  font-size: 19px;
}

/* .temp {
  position: absolute;
  background-color:rgb(20, 8, 8);;
  color:rgb(20, 8, 8);
  font-size:40px;
} */

