* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Open sans, sans-serif;
    background: #fff;
}

.main {
    padding: 50px 0;
}

img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.carou {
    padding-top: 100px;
    float: none;
    align-items: center;
    height: 700px;
}

.titreAccueil h1 {
        float: left;
        color: rgb(85, 84, 84);
        margin-left: 90px;
}

.communaute h2 {
text-align: center;
color: rgb(124, 160, 66);
font-weight: bold;
font-size: 30px;
margin-top: 20px;
}

.communaute p {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
     color: rgb(85, 84, 84);
}

.glide__arrows {
    position: absolute;
    bottom: -30px;
}

/* .glide__arrows .glide__arrow {
    background: rgb(151, 55, 163);
    border: none;
    width: 50px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    color: #fff;
    font-size: 22px;
    outline: none;
    margin-right: 15px;
    padding: 0;
} */

.glide__arrows .glide__arrow .glide__arrow--left {
    left: 0;
}

.glide__arrows .glide__arrow .glide__arrow--right {
    right: -80px;
}

.glide__slide {
    transform: scale(.9);
    filter: brightness(70%);
    transition: all ease 0.5s;
    border: none;
}

.glide__slide.glide__slide--active {
    transform: scale(1);
    filter: brightness(100%);
}