@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body
{
    background: rgb(248, 243, 243);
    min-height: 200vh;
}

header{
    z-index: 99;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
}
/* couleur du bandeau quand on scroll bas */
header.sticky{
    padding: 5px 100px;
    background: rgb(241, 239, 239);
}
header .logo{
    position: relative ;
    font-weight:700;
    color: rgb(157, 196, 93);
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header ul {
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;

}
header ul li
{
    position: relative;
    list-style: none;
}

header ul li a
{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: rgb(157, 196, 93);
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;

}

.banner{
    position: relative;
    width: 10%;
    height: 10vh;
    /* background: url(../../images/img1.jpg); */
    background-size: cover; 
}

header.sticky .logo, 
header.sticky ul li a{
    color: rgb(157, 196, 93);
}

.search-box{
    color: rgb(157, 196, 93);
    
}

.button-go {
    display: inline-block;
    background-color: rgb(157, 196, 93);
    border-radius: 2px;
    border: 2px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 18px;
    padding: 1px;
    width: 40px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 4px;
}