@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.article{
   margin: 50px;
   padding:60px;

}

.button-article {
    display: inline-block;
    background-color: rgb(157, 196, 93);
    border-radius: 2px;
    border: 2px double #ffffff;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    padding: 1px;
    width: 80px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 4px;
}

.phrase{
    color: rgb(157, 196, 93);
    margin: auto;
    padding: 10px 10px;
    font-size: 20px;
    font-weight: bold;
}
.phrase-commu{
    text-align: center;
}
.phrase-commu p{
    text-align: center;
    font-weight: bold;
}

.content{
    color: rgb(157, 196, 93);
}
p{

    color: rgb(133, 133, 133);
    margin-top: 10px;
}

.buttonCard{
    border: none;
}
.buttonCard:hover{
opacity: 1;
visibility: visible;
transition-delay: 0.01s;
border: none;
filter: brightness(2);
cursor: pointer;
}

.buttonCard img {
    background-color: #ffffff;
}

.card .imgBX {
    color: rgb(255, 255, 255);
    background-color: #ffffff;
}